*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: #464646;
    font-family: helvetica;
    color: #d6d0d0;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
}
.status-form{
    padding: 20px;
}
.response{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-form{
    max-width: 500px;
    padding: 20px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  